 body {
	text-align: center;
	font-family: helvetica;
	background: url("http://i.imgur.com/P0QJMXK.jpg");
}
a {
	color: gray;
	text-decoration: none;
}

ul {
	margin: 0px;
	padding: 15px;
	background: #ffffff;
}

li{
	display: inline;
	padding: 0px 10px 0px 10px;
}

img {
	border-radius: 4px;
	max-width: 100%;
	height: auto;
}

.active {
	color:orange;
}

p {
	text-align: center;
	padding: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 630px;
}

#header1 {
	font-size: 40px;
}